* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 500px;
  height: 840px;
  background-color: black;
  color: aliceblue;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display {
  height: 250px;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 3rem;
  font-family: "Helvetica Neue", sans-serif;
}
.bs {
  background-color: #333333;
}
.bg {
  background-color: #a5a5a5;
  color: black;
}
.bo {
  background-color: #f1a33c;
}
.button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.b17 {
  grid-column: 1 / span 2;
  width: 215px;
  justify-content: flex-start;
  padding-left: 35px;
}
